<!-- <img src="https://i.pinimg.com/originals/28/a1/8e/28a18e4aaa9a62555cd8ffe4cf194bc9.gif" alt=""> -->

<h2>Adicionar Produto</h2>

<form id="form-addProduct" class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Nome do Produto</mat-label>
        <input id="name" matInput placeholder="produto">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Tipo</mat-label>
        <input id="type" matInput placeholder="Tipo">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Descrição</mat-label>
        <input id="description" matInput placeholder="produto">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Imagem</mat-label>
        <input id="image" matInput placeholder="produto">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Altura</mat-label>
        <input id="height" matInput placeholder="produto">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Largura</mat-label>
        <input id="width" matInput placeholder="produto">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Preço</mat-label>
        <input id="price" matInput placeholder="produto">
    </mat-form-field>
    <button (click)='addProduct()' mat-raised-button color="primary">Salvar</button>


</form>