body{
    display: flex;
    align-content: center;
}

#menu{
    display: flex;
    justify-content: flex-end;
    padding-top:10px ;
}

#products-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 80vw;
}

mat-card>div{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 20px ;
}

mat-card>div.button-div{
    align-items: flex-end;
}


mat-card div div img {
    position: relative;
    max-width: 100%;

}

mat-icon{
    color: rgb(24, 24, 85);
    cursor: pointer;
}

mat-icon.delete{
    margin-left: 15px;
}
