body{
    display: flex;
    align-content: center;
}

#menu{
    display: flex;
    justify-content: flex-end;
}

#products-list{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

mat-card{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin-bottom: 5px;
}

mat-icon{
    color: rgb(24, 24, 85);
    cursor: pointer;
}

mat-icon#delete{
    margin-left: 15px;
}
